button,
input,
textarea {
  outline:none !important;
}

.btn_default{
  display:inline-block;
  height:50px;
  line-height: 50px;
  padding:0 45px;
  font-size:18px;
  color:#000 !important;
  font-family:$RalewayB;
  background:#49ffff;
  box-shadow:1px 0 25px rgba(0, 0, 0, 0.35);
  border-radius:5px;
  text-decoration:none;
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
    transition: 0.3s;
  }
  &.btn_join{
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
  }

}