
/* COLORS
---------------------------------*/
$red: #e10613;
$green: #49ffff;

/* ЦВЕТ ВЫДЕЛЕНИЯ
---------------------------------*/
::selection {
  background: $red; /* Safari */
  color: #fff;
}
::-moz-selection {
  background: $red; /* Firefox */
  color: #fff;
}

/* ЦВЕТ СКРОЛА
---------------------------------*/
//::-webkit-scrollbar{
//  width: 8px;
//  background-color: rgba(84, 84, 84, 0.13);
//}
//::-webkit-scrollbar-thumb{
//  border-width:1px 1px 1px 2px;
//  border-color: #123456;
//  background-color: $red;
//}


/* CLASS COLOR
---------------------------------*/
.text-dark {
  color: #000;
}
.text-red {
  color: $red;
}

/* BG CLASS COLOR
---------------------------------*/
.bg-dark {
  background-color: #000 !important; 
}
.bg-red {
  background-color: $red;
}
