
/* MOB-MENU
---------------------------------*/
#eff_bl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: #000;
  opacity:0.8;
  z-index: 1002;
  overflow-y: hidden;
}
.mob_menu {
  display: none;
  padding:20px 0;
  background:#222;
  position:fixed;
  width:100%;
  z-index:1003;
  border-bottom: 1px solid  #2d2d2d;
  text-align:center;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.35);
  @include media-max(991) {
    display: block;
  }
  .mob_logo{
    display:inline-block;
    max-width:125px;
    margin:0 auto;
    img{
      width:100%;
      height:auto;
    }
  }

  .searchBtn{
    width: 42px;
    color: #fff;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor:pointer;
  }
  .search_nav{
    position:absolute;
    top:100%;
    width:100%;
    display: none;
    margin-top: 1px;
    padding: 30px 20px;
    background-color: #000;
    box-shadow: 0 6px 40px 0 rgba(0,0,0,.76);
    .search_form{
      input{
        width:100%;
        font-weight:300;
        background-color: #fff;
        border: none;
        border-radius: 15px;
        padding: 4px 10px 3px 15px;
        color: #000;
      }
    }
  }
  .menu-icon-wrp {
    display: block;
    position: absolute;
    top: 12px;
    right: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding-top: 12px;
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.645, 0.650);
    z-index: 1003;
    @include media-max(425) {
      right: 21px;
    }
    @include media-max(320) {
      right: 18px;
    }

    .menu-bar {
      display: block;
      position: relative;
      background: #fff;
      width: 32px;
      height: 3px;
      border-radius: 1px;
      transition: all 300ms;
      margin: 0 auto;
    }
    .bar1 {
      top: 0;
      animation: topbar-back 500ms;
      animation-fill-mode: both;
      animation-play-state: initial !important;
    }
    .bar2 { opacity: 1; }
    .bar3 {
      bottom: 0;
      animation: bottombar-back 500ms;
      animation-fill-mode: both;
      animation-play-state: initial !important;
    }
  }
  .menu-bar + .menu-bar {
    margin-top: 5px;
  }
  .toggled .bar1 {
    top: 25%;
    animation: topbar-x 500ms;
    animation-fill-mode: both;
  }
  .toggled .bar2 {
    opacity: 0;
  }
  .toggled .bar3 {
    bottom: 31%;
    animation: bottombar-x 500ms;
    animation-fill-mode: both;
  }
  @keyframes topbar-x {
    0% {
      top: 0;
      -webkit-transform: rotate(0deg);
    }
    45% {
      top: 25%;
      -webkit-transform: rotate(145deg);
    }
    75% {
      -webkit-transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(135deg);
    }
  }
  @keyframes topbar-back {
    0% {
      top: 25%;
      -webkit-transform: rotate(135deg);
    }
    45% {
      -webkit-transform: rotate(-10deg);
    }
    75% {
      -webkit-transform: rotate(5deg);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
    }
  }
  @keyframes bottombar-x {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0deg);
    }
    45% {
      bottom: 25%;
      -webkit-transform: rotate(-145deg);
    }
    75% {
      -webkit-transform: rotate(-130deg);
    }
    100% {
      -webkit-transform: rotate(-135deg);
    }
  }
  @keyframes bottombar-back {
    0% {
      bottom: 25%;
      -webkit-transform: rotate(-135deg);
    }
    45% {
      -webkit-transform: rotate(10deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0deg);
    }
  }
  #nav-wrp{
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 9;
    .logo_mob {
      position: absolute;
      width: 145px;
      top: 20px;
      left: 20px;
    }
    .MenuWr {
      width: 100%;
      margin-top: 40px;
      padding: 20px;
    }
    .title {
      font-size: 24px;
      color: #fff;
      margin-bottom: 15px;
      text-align:left;
    }
    .main_menu {
      .menu-item {
          text-align:left;
          margin-bottom:4px;

          a{
            display:block;
            color: #fff;
            font-size:16px;
            padding:6px 0;
            text-transform: uppercase;
            border-bottom:2px solid #222;
            transition: .3s;
            &:hover{
              border-bottom:2px solid $red;
              color:$red;
            }
          }
          .sub-menu{
            margin-left:15px;
            a{
              text-transform: none;
              padding:3px 0;
            }
          }
      }
    }
    .social{
      text-align:center;
      padding-bottom:20px;
      margin-top:30px;
      li{
        display:inline-block;
        margin: 0 5px;


        a{
          display:flex;
          align-items:center;
          justify-content:center;
          width:36px;
          height:36px;
          font-size:22px;
          text-align:center;
          color:#000;
          border-radius:50%;
          background:#fff;
          transition: .3s;

          &:hover{
            background:#848484;
            color:#fff;
          }
        }
      }
    }

    /*---mobile menu taxonomy-----*/
    .mobile_cat_list{
      padding:0 20px;
      text-align:left;
      .cat_list_item {
        margin-bottom: 10px;
        border-radius:5px;
        overflow:hidden;
        text-align:left;
        &.open .cat_list_item_a{
          background-color: #2d2d2d !important;
        }
        .bnt_down_up .fa{
          transition: 0.3s;
        }
        &.open .bnt_down_up .fa{
          transform: rotate(180deg)
        }
        .cat_list_item_a {
          display: block;
          padding: 10px 15px 11px 15px;
          background-color: #000;
          width: 100%;
          color: #ffffff;
          font-size: 22px;
          transition: 0.3s;
          &.item-baskeball{
            background:url('../img/basketball_icon.svg') no-repeat 15px center #000;
            background-size:17px 17px;
            padding-left:45px;
          }
          &.item-hokey{
            background:url('../img/hokey_icon.svg') no-repeat 15px center #000;
            background-size:21px 18px;
            padding-left:45px;
          }
          &.item-football{
            background:url('../img/football_icon.svg') no-repeat 15px center #000;
            background-size:17px 17px;
            padding-left:45px;
          }
          @include media-max(1200){
            font-size:20px;
          }
        }
        &.has_submenu{
          position:relative;
          .bnt_down_up{
            border-left:1px solid #313030;
            font-size:18px;
            color:#fff;
            position:absolute;
            top:0;
            right:0;
            z-index: 2;
            width:40px;
            height:48px;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor:pointer;
          }
          .cat_list_item_a{
            margin-right:25px;
          }
          &.open .bnt_down_up{
            border-left:1px solid #424242;
          }
        }
        .sub_list {
          display: none;
          li {
            background-color: #000;
            display: block;
            a {
              display: block;
              line-height:normal;
              padding: 16px 20px 15px 20px;
              width: 100%;
              font-size: 20px;
              transition: 0.3s;
              border-bottom:1px solid #2d2d2d;
              &:hover {
                color: $red;
              }
              @include media-max(1200){
                padding: 13px 20px 12px 20px;
              }
            }
          }
        }
      }
    }

  }
  #nav-wrp.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }
  #nav-wrp.nav-style {
    right: -100%;
    transition: 0.3s;
    z-index: 1002;
    background:#222;
    border-left: 1px solid #585858;
    /*border-left: 1px solid #9E9E9E;
    box-shadow: 0 0 5px 0 #9E9E9E;*/
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);
    overflow: auto;
    color:#fff;
  }
  .mfp-container.mfp-s-ready.mfp-inline-holder {
    overflow: auto;
  }

  .search_nav{
    display:none;
  }
}
